#header{
	font-family: 'Tangerine', cursive;
	font-size: 90px;
	color: red;
	text-align: center;

		}
		
#footer{ 
	font-family:serif;
		color:red;
		text-align: center;
		font-size: 20px;
		width: 100%;

}
.PicCenter{
		margin-left:550px;
		margin-right:550px;
		width: 800px;
		height: 500px;
		src:img('http://mailesthaibistro.com/wp-content/uploads/2010/03/menu.png');
}

.backgroundgrey{
	background-color: lightgrey;
}
a {
	font-family: monospace;
	text-decoration: underline;
	font-weight: none;
	color: green;
	
}

a:visited {
	color:blue;
}


a:hover{
	font-weight: bolder;
}

a:active {
	text-decoration: none;
	border-bottom: none;
}

 td {
	background-color: lightgrey;
	text-align: ;
	padding-left: ;
	padding-right: 

}
