h1  {
	color: green;
	font-family: sans-serif;
	text-shadow: 8px 8px black;
	font-size: 100px;}


h5 {
	outline-color: red;
	display: inline;
	font-size: 30px;
	color:red;
	text-shadow: 2px 2px black;}


img {
	src:"http://www.symbolarts.com/cart/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/3/l/3leafclover_xpi0006.jpg";
	height: 150px;
	width:150px;}


div {
	text-shadow: 1px 1px green;}


button {
	color: green;
	background-color: black;
	font-size: 20px;}
