h1 {
	color:red;
	font-family:verdana;
	font-size:200%;}


li {
	border:1px solid white;}


@font-face {
	font-family: 'Indie Flower', cursive;
	font-size: 24px;
	font-style: cursive;
	font-weight: 500;
	font-style: ;
	src:url('https://fonts.googleapis.com/css?family=Indie+Flower');}


.italics {
	font-style: italic;
	font-size: 30px;}
	

 .pic {
 	background-image:url('http://static.deathandtaxesmag.com/uploads/2011/10/Picture-15.png');
	margin-left:;
	margin-right: ;
	background-repeat: no-repeat;
	height: ;}

a {
	font-family: monospace;
	text-decoration: none;
	font-weight: none;}

a:hover {
	text-decoration: underline;
	color:blue;
	background-color:purple;
	font-family: cursive;}

td {
	font-style: italic;
	background-color: olive;}

caption{
	background-color: olive;
	font-size: 30px;
	color: black;
	text-align: center;}

/*I keep everything there even if not currently in use in case of needed use in the future*/